/* Our Approach Section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 120px;
gap: 80px;

width: 1728px;
height: 589px;

background: #FFFFFF;
background: color(display-p3 1.000 1.000 1.000);

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Section Header */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 1488px;
height: 141px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 118 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 314px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 03 */

width: 23px;
height: 20px;

font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
letter-spacing: 3px;

color: #1945A7;
color: color(display-p3 0.145 0.267 0.631);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 4 */

width: 104px;
height: 0px;

border: 1px solid #000000;
border: 1px solid color(display-p3 0.000 0.000 0.000);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* METHODOLOGY */

width: 155px;
height: 20px;

font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
letter-spacing: 3px;
text-transform: uppercase;

color: #333333;
color: color(display-p3 0.200 0.200 0.200);


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* From Planning to Delivery */

width: 1488px;
height: 60px;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;

color: #1C2938;
color: color(display-p3 0.122 0.161 0.216);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Supporting projects through every stage with practical engineering expertise and disciplined project delivery. */

width: 1488px;
height: 29px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */

color: #697281;
color: color(display-p3 0.420 0.447 0.502);


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Steps Tracker */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 1488px;
height: 128px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 342px;
height: 128px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 342px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 48px;
height: 48px;

background: #1945A7;
background: color(display-p3 0.145 0.267 0.631);
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 01 */

width: 17px;
height: 20px;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;
color: color(display-p3 1.000 1.000 1.000);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line */

box-sizing: border-box;

width: 278px;
height: 0px;

border: 2px solid #1945A7;
border: 2px solid color(display-p3 0.145 0.267 0.631);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 342px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Understand */

width: 108px;
height: 25px;

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 25px;

color: #1C2938;
color: color(display-p3 0.122 0.161 0.216);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Project requirements and challenges */

width: 342px;
height: 23px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 150%;
/* identical to box height, or 22px */

color: #697281;
color: color(display-p3 0.420 0.447 0.502);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 342px;
height: 128px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 342px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 48px;
height: 48px;

background: #1945A7;
background: color(display-p3 0.145 0.267 0.631);
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 02 */

width: 20px;
height: 20px;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;
color: color(display-p3 1.000 1.000 1.000);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line */

box-sizing: border-box;

width: 278px;
height: 0px;

border: 2px solid #1945A7;
border: 2px solid color(display-p3 0.145 0.267 0.631);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 342px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Develop */

width: 75px;
height: 25px;

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 25px;

color: #1C2938;
color: color(display-p3 0.122 0.161 0.216);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Engineering and delivery solutions */

width: 342px;
height: 23px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 150%;
/* identical to box height, or 22px */

color: #697281;
color: color(display-p3 0.420 0.447 0.502);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 342px;
height: 128px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 342px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 48px;
height: 48px;

background: #1945A7;
background: color(display-p3 0.145 0.267 0.631);
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 03 */

width: 20px;
height: 20px;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;
color: color(display-p3 1.000 1.000 1.000);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line */

box-sizing: border-box;

width: 278px;
height: 0px;

border: 2px solid #1945A7;
border: 2px solid color(display-p3 0.145 0.267 0.631);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 342px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Deliver */

width: 66px;
height: 25px;

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 25px;

color: #1C2938;
color: color(display-p3 0.122 0.161 0.216);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Quality-focused project execution */

width: 342px;
height: 23px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 150%;
/* identical to box height, or 22px */

color: #697281;
color: color(display-p3 0.420 0.447 0.502);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 342px;
height: 128px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 342px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 48px;
height: 48px;

background: #1945A7;
background: color(display-p3 0.145 0.267 0.631);
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 04 */

width: 21px;
height: 20px;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;
color: color(display-p3 1.000 1.000 1.000);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 342px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Support */

width: 74px;
height: 25px;

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 25px;

color: #1C2938;
color: color(display-p3 0.122 0.161 0.216);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Verification, improvement, and ongoing support */

width: 342px;
height: 23px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 150%;
/* identical to box height, or 22px */

color: #697281;
color: color(display-p3 0.420 0.447 0.502);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
